%a{:href => '/ci/new'} new
%ul.project_refs
  - @project_refs.sort_by(&:key).each do |project_ref|
    %li.project_ref{:class => project_ref.status}
      %h1= project_ref.project.name
      %h2= project_ref.ref
      %dl
        %dt Status
        %dd
          - if project_ref.last_test_run.present?
            %a{:href => test_run_path(project_ref.last_test_run)}= project_ref.status
          - else
            = project_ref.status

        %dt Current Test Run
        %dd
          - if project_ref.last_test_run.present?
            %a{:href => test_run_path(project_ref.last_test_run)}= project_ref.last_test_run.id
          - else
            = project_ref.last_test_run.id

        %dt Repo Url
        %dd
          %a{:href => repo_url(project_ref.origin_url)}= project_ref.origin_url

        %dt Git Ref
        %dd
          %a{:href => ref_url(project_ref.origin_url, project_ref.ref)}= project_ref.ref

        %dt Last Sha
        %dd
          %a{:href => sha_url(project_ref.origin_url, project_ref.last_sha)}= project_ref.last_sha

        %dt Total Test Runs
        %dd= project_ref.project.test_runs.size

:javascript
  Hobson.pollForChanges();
