%table.test-runs
  %thead
    %tr
      %th Status
      %th Id
  %tbody
    - @test_runs.each do |test_run|
      %tr
        %td= test_run.status
        %td
          %a{:href => "/test_runs/#{test_run.id}"}= test_run.id
        %td
          %form{:id => "delete#{test_run.id}", :action => "/test_runs/#{test_run.id}", :method => 'post'}
            %input{:type=>:hidden, :name=>'_method', :value=>'delete'}
            %a{:href => "javascript: $('#delete#{test_run.id}').submit()"} delete
